<button onclick="topFunction()"  id="my_btn">
    <span class="fas fa-angle-up"></span>
</button>
<script>
    var my_button = document.getElementById("my_btn")

    window.onscroll = function() {scrollFunction()}

    function scrollFunction() {
        if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
            my_button.style.display = "block";
        }
        else {
            my_button.style.display = "none";
        }
    }

    function topFunction() {
        $("html, body").animate({scrollTop: 0}, 500);
    }
</script>