{% extends 'photo/base.html'%}
{% block title %}Register{% endblock %}
{% block body %}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                There was an error with your form!
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
        </div>
    {% endif %}
    <div class="form_container">
    <h1>Register</h1>
    <br/>
    <form action="{% url 'users:register' %}" method="POST">
        {% csrf_token %}
{#        <div class="form-group"><span class="text-danger small">{{ form.errors }}</span></div>#}
        {% for field in form %}
            <div class="fieldWrapper">
                <span class="text-danger small">{{ field.errors }}</span>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <div class="form-text text-muted">{{ field.help_text|safe }}</div>
                {% endif %}
            <br/>
            </div>
        {% endfor %}


        <br/><input type="submit" value="Submit" class="btn confirm">
    </form>
    </div>
{% endblock %}