{% extends 'photo/base.html'%}
{% block title %}Reset password{% endblock %}
{% block body %}
    <div class="form_container">
    <h1>Reset password</h1>
    <br/>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" id="email" aria-describedby="useremailResetPassword">
        </div>
        <input type="hidden" name="next" value="{{ request.path }}">
        <div style="display: flex; justify-content: right;">
            <input type="submit" value="Send email" name="Send email" class="btn confirm" style="margin-left:auto;">
        </div>
    </form>
    </div>
{% endblock %}