{% extends 'photo/base.html'%}
{% block title %}Reset password done{% endblock %}
{% block body %}
    <div class="form_container">
    <h1 style="margin-left: 10px; font-weight: 300;">Password reset sent</h1>
    <br/>
    <p style="margin-left: 20px; margin-bottom: 5px;">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p style="margin-left: 20px; margin-bottom: 5px;">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
{% endblock %}